name: CI/CD

on:
  push:
    branches:
      - master

permissions:
  contents: read
  packages: write

env:
  IMAGE: ghcr.io/${{ github.repository_owner }}/docker_linux

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Run tests (podman-compose)
        run: |
          set -e
          podman-compose -f docker-compose.ci.yml up --build --abort-on-container-exit --exit-code-from app
        # чтобы не оставлять контейнеры после тестов
      - name: Cleanup (podman-compose)
        if: always()
        run: |
          podman-compose -f docker-compose.ci.yml down -v || true

  build:
    runs-on: self-hosted
    needs: test
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR (podman)
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | podman login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Build image (podman)
        run: |
          set -e
          podman build --target prod \
            -t "${IMAGE}:latest" \
            -t "${IMAGE}:${{ github.sha }}" \
            .

      - name: Push image to GHCR (podman)
        run: |
          set -e
          podman push "${IMAGE}:latest"
          podman push "${IMAGE}:${{ github.sha }}"

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
      - name: Login to GHCR (podman)
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | podman login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Pull & run containers (podman)
        run: |
          set -e

          podman pull "${IMAGE}:latest"

          podman network create usersnet || true

          podman rm -f usersdb 2>/dev/null || true
          podman run -d --name usersdb --network usersnet \
            -e POSTGRES_USER=kubsu \
            -e POSTGRES_PASSWORD=kubsu \
            -e POSTGRES_DB=kubsu \
            docker.io/library/postgres:16-alpine

          podman rm -f usersapp 2>/dev/null || true
          podman run -d --name usersapp --network usersnet \
            -e DATABASE_URL="postgresql+psycopg://kubsu:kubsu@usersdb:5432/kubsu" \
            -e PORT=${{ secrets.APP_PORT }} \
            -e ROOT_PATH="/${{ secrets.USERNAME }}" \
            -p ${{ secrets.APP_PORT }}:${{ secrets.APP_PORT }} \
            "${IMAGE}:latest"

          podman ps
