name: CI/CD

on:
  push:
    branches:
      - master

permissions:
  contents: read
  packages: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run tests in built image (with services)
        run: docker compose -f docker-compose.ci.yml up --build --abort-on-container-exit --exit-code-from app

  deploy:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy (build & push image to GHCR)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          target: prod
          tags: |
            ghcr.io/${{ github.repository_owner }}/docker_linux:latest
            ghcr.io/${{ github.repository_owner }}/docker_linux:${{ github.sha }}
